.nevbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}
.nevbar img{
    width: 100px;
    height: 60px;
    margin-left: 20px; 
}
.nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3.5rem;
}
.nav-list a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}
.nav-list a:hover{
    color: #e9c9cb;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-bar input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    width: 300px;
    height: 40px;
}
.search-bar input:focus{
    outline: 1px solid #e9c9cb;
    border-color: #e9c9cb;
}
.search-bar button{
    background-color: #e9c9cb;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    height: 40px;
    width: 40px;
}
.search-bar .login{
    width: 70px; ;
}
.search-bar button:hover{
    background-color: #d8b2b4;
}
.fa-globe:hover{
    color: #e9c9cb;
}
@media screen and (max-width: 768px) {
    .nevbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #fff;
        width: 100%;
    }
    .nevbar img{
        width: 80px;
        height: 40px;
        margin-left: 20px; 
    }
    .nav-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 1rem;
        display: none;
    }
    .nav-list a{
        width: 100%;
        text-decoration: none;
        color: #000;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 15px;
        transition: background-color 0.3s ease;

    }
    .nav-list li{
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #0000002d;
        text-align: center;
    }
    .search-bar{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .search-bar input{
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 15px;
        font-size: 14px;
        width: 200px;
        height: 40px;
        margin: 10px;
    }
    .logo-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo-container i{
        font-size: 20px;
        color: #000;
        margin-right: 20px;
        cursor: pointer;
    }
    #nav-toggle {
        display: none;
    }
}